cryptoworkspace/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "cryptoworkspace"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"cryptoworkspace-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'cryptoworkspace-WorkspaceDefaultSqlServer'"
		},
		"linkedService1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'linkedService1'"
		},
		"linkedService2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'linkedService2'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://cryptoadls.dfs.core.windows.net/"
		},
		"Omenics_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://omenics.com/api/v1"
		},
		"RestService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://min-api.cryptocompare.com/data/v2/histohour?fsym=BTC&tsym=USD&limit=10"
		},
		"RestServiceCryptoCompare_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://min-api.cryptocompare.com/data/pricemultifull?fsyms=BTC&tsyms=USD,EUR"
		},
		"cryptoworkspace-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://cryptoadls.dfs.core.windows.net"
		},
		"linkedService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://cryptoadls.dfs.core.windows.net/"
		},
		"linkedService2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://cryptoadls.dfs.core.windows.net/"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/NewCopyRest_CryptoCompare')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "10:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"maxConcurrentConnections": 14
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "json2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-27T23:15:20Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/RestResource')]",
				"[concat(variables('workspaceId'), '/datasets/json2')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/NewCopyRest_Omnics')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copydata",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "10:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"maxConcurrentConnections": 14
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "json2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-27T22:47:45Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/RestResource')]",
				"[concat(variables('workspaceId'), '/datasets/json2')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/PL_Copy_CryptoCompare_Data')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "CopyData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "7.00:00:00",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "POST",
								"additionalHeaders": {
									"Authorization": {
										"value": "@concat('Bearer ',activity('GetBearerToken').output.access_token)",
										"type": "Expression"
									}
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkDataset",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.SinkContainer",
										"type": "Expression"
									},
									"Directory": {
										"value": "@pipeline().parameters.SinkDirectory",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "GetBearerToken",
						"description": "Use this Web activity to get bearer token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://login.microsoftonline.com/microsoft.onmicrosoft.com/oauth2/token",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials&client_id=<service principal ID>&resource=<your resource>&client_secret=<service principal key>"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SinkContainer": {
						"type": "string"
					},
					"SinkDirectory": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-27T19:22:27Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/RestResource')]",
				"[concat(variables('workspaceId'), '/datasets/SinkDataset')]",
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/PL_Copy_OmnicsData')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "CopyData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Authorization": {
										"value": "@concat('Bearer ',activity('GetBearerToken').output.access_token)",
										"type": "Expression"
									}
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkDataset",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.SinkContainer",
										"type": "Expression"
									},
									"Directory": {
										"value": "@pipeline().parameters.SinkDirectory",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "GetBearerToken",
						"description": "Use this Web activity to get bearer token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://login.microsoftonline.com/microsoft.onmicrosoft.com/oauth2/token",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials&client_id=<service principal ID>&resource=<your resource>&client_secret=<service principal key>"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SinkContainer": {
						"type": "string"
					},
					"SinkDirectory": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-27T22:47:37Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/RestResource')]",
				"[concat(variables('workspaceId'), '/datasets/SinkDataset')]",
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/RestResource')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"description": "Connection to your REST/HTTP",
				"linkedServiceName": {
					"referenceName": "RestServiceCryptoCompare",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/RestServiceCryptoCompare')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SinkDataset')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"description": "Connection to your Azure Data Lake Store",
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					},
					"Directory": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/json2')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedService2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "CryptoData",
						"fileSystem": "cryptofs"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"RAW": {
							"type": "object",
							"properties": {
								"BTC": {
									"type": "object",
									"properties": {
										"USD": {
											"type": "object",
											"properties": {
												"TYPE": {
													"type": "string"
												},
												"MARKET": {
													"type": "string"
												},
												"FROMSYMBOL": {
													"type": "string"
												},
												"TOSYMBOL": {
													"type": "string"
												},
												"FLAGS": {
													"type": "string"
												},
												"PRICE": {
													"type": "number"
												},
												"LASTUPDATE": {
													"type": "integer"
												},
												"MEDIAN": {
													"type": "number"
												},
												"LASTVOLUME": {
													"type": "number"
												},
												"LASTVOLUMETO": {
													"type": "number"
												},
												"LASTTRADEID": {
													"type": "string"
												},
												"VOLUMEDAY": {
													"type": "number"
												},
												"VOLUMEDAYTO": {
													"type": "number"
												},
												"VOLUME24HOUR": {
													"type": "number"
												},
												"VOLUME24HOURTO": {
													"type": "number"
												},
												"OPENDAY": {
													"type": "number"
												},
												"HIGHDAY": {
													"type": "number"
												},
												"LOWDAY": {
													"type": "number"
												},
												"OPEN24HOUR": {
													"type": "number"
												},
												"HIGH24HOUR": {
													"type": "number"
												},
												"LOW24HOUR": {
													"type": "number"
												},
												"LASTMARKET": {
													"type": "string"
												},
												"VOLUMEHOUR": {
													"type": "number"
												},
												"VOLUMEHOURTO": {
													"type": "number"
												},
												"OPENHOUR": {
													"type": "number"
												},
												"HIGHHOUR": {
													"type": "number"
												},
												"LOWHOUR": {
													"type": "number"
												},
												"TOPTIERVOLUME24HOUR": {
													"type": "number"
												},
												"TOPTIERVOLUME24HOURTO": {
													"type": "number"
												},
												"CHANGE24HOUR": {
													"type": "number"
												},
												"CHANGEPCT24HOUR": {
													"type": "number"
												},
												"CHANGEDAY": {
													"type": "number"
												},
												"CHANGEPCTDAY": {
													"type": "number"
												},
												"CHANGEHOUR": {
													"type": "number"
												},
												"CHANGEPCTHOUR": {
													"type": "number"
												},
												"CONVERSIONTYPE": {
													"type": "string"
												},
												"CONVERSIONSYMBOL": {
													"type": "string"
												},
												"SUPPLY": {
													"type": "integer"
												},
												"MKTCAP": {
													"type": "number"
												},
												"MKTCAPPENALTY": {
													"type": "integer"
												},
												"CIRCULATINGSUPPLY": {
													"type": "integer"
												},
												"CIRCULATINGSUPPLYMKTCAP": {
													"type": "number"
												},
												"TOTALVOLUME24H": {
													"type": "number"
												},
												"TOTALVOLUME24HTO": {
													"type": "number"
												},
												"TOTALTOPTIERVOLUME24H": {
													"type": "number"
												},
												"TOTALTOPTIERVOLUME24HTO": {
													"type": "number"
												},
												"IMAGEURL": {
													"type": "string"
												}
											}
										},
										"EUR": {
											"type": "object",
											"properties": {
												"TYPE": {
													"type": "string"
												},
												"MARKET": {
													"type": "string"
												},
												"FROMSYMBOL": {
													"type": "string"
												},
												"TOSYMBOL": {
													"type": "string"
												},
												"FLAGS": {
													"type": "string"
												},
												"PRICE": {
													"type": "number"
												},
												"LASTUPDATE": {
													"type": "integer"
												},
												"MEDIAN": {
													"type": "number"
												},
												"LASTVOLUME": {
													"type": "number"
												},
												"LASTVOLUMETO": {
													"type": "number"
												},
												"LASTTRADEID": {
													"type": "string"
												},
												"VOLUMEDAY": {
													"type": "number"
												},
												"VOLUMEDAYTO": {
													"type": "number"
												},
												"VOLUME24HOUR": {
													"type": "number"
												},
												"VOLUME24HOURTO": {
													"type": "number"
												},
												"OPENDAY": {
													"type": "number"
												},
												"HIGHDAY": {
													"type": "number"
												},
												"LOWDAY": {
													"type": "number"
												},
												"OPEN24HOUR": {
													"type": "number"
												},
												"HIGH24HOUR": {
													"type": "number"
												},
												"LOW24HOUR": {
													"type": "number"
												},
												"LASTMARKET": {
													"type": "string"
												},
												"VOLUMEHOUR": {
													"type": "number"
												},
												"VOLUMEHOURTO": {
													"type": "number"
												},
												"OPENHOUR": {
													"type": "number"
												},
												"HIGHHOUR": {
													"type": "number"
												},
												"LOWHOUR": {
													"type": "number"
												},
												"TOPTIERVOLUME24HOUR": {
													"type": "number"
												},
												"TOPTIERVOLUME24HOURTO": {
													"type": "number"
												},
												"CHANGE24HOUR": {
													"type": "number"
												},
												"CHANGEPCT24HOUR": {
													"type": "number"
												},
												"CHANGEDAY": {
													"type": "number"
												},
												"CHANGEPCTDAY": {
													"type": "number"
												},
												"CHANGEHOUR": {
													"type": "number"
												},
												"CHANGEPCTHOUR": {
													"type": "number"
												},
												"CONVERSIONTYPE": {
													"type": "string"
												},
												"CONVERSIONSYMBOL": {
													"type": "string"
												},
												"SUPPLY": {
													"type": "integer"
												},
												"MKTCAP": {
													"type": "number"
												},
												"MKTCAPPENALTY": {
													"type": "integer"
												},
												"CIRCULATINGSUPPLY": {
													"type": "integer"
												},
												"CIRCULATINGSUPPLYMKTCAP": {
													"type": "number"
												},
												"TOTALVOLUME24H": {
													"type": "number"
												},
												"TOTALVOLUME24HTO": {
													"type": "number"
												},
												"TOTALTOPTIERVOLUME24H": {
													"type": "number"
												},
												"TOTALTOPTIERVOLUME24HTO": {
													"type": "number"
												},
												"IMAGEURL": {
													"type": "string"
												}
											}
										}
									}
								}
							}
						},
						"DISPLAY": {
							"type": "object",
							"properties": {
								"BTC": {
									"type": "object",
									"properties": {
										"USD": {
											"type": "object",
											"properties": {
												"FROMSYMBOL": {
													"type": "string"
												},
												"TOSYMBOL": {
													"type": "string"
												},
												"MARKET": {
													"type": "string"
												},
												"PRICE": {
													"type": "string"
												},
												"LASTUPDATE": {
													"type": "string"
												},
												"LASTVOLUME": {
													"type": "string"
												},
												"LASTVOLUMETO": {
													"type": "string"
												},
												"LASTTRADEID": {
													"type": "string"
												},
												"VOLUMEDAY": {
													"type": "string"
												},
												"VOLUMEDAYTO": {
													"type": "string"
												},
												"VOLUME24HOUR": {
													"type": "string"
												},
												"VOLUME24HOURTO": {
													"type": "string"
												},
												"OPENDAY": {
													"type": "string"
												},
												"HIGHDAY": {
													"type": "string"
												},
												"LOWDAY": {
													"type": "string"
												},
												"OPEN24HOUR": {
													"type": "string"
												},
												"HIGH24HOUR": {
													"type": "string"
												},
												"LOW24HOUR": {
													"type": "string"
												},
												"LASTMARKET": {
													"type": "string"
												},
												"VOLUMEHOUR": {
													"type": "string"
												},
												"VOLUMEHOURTO": {
													"type": "string"
												},
												"OPENHOUR": {
													"type": "string"
												},
												"HIGHHOUR": {
													"type": "string"
												},
												"LOWHOUR": {
													"type": "string"
												},
												"TOPTIERVOLUME24HOUR": {
													"type": "string"
												},
												"TOPTIERVOLUME24HOURTO": {
													"type": "string"
												},
												"CHANGE24HOUR": {
													"type": "string"
												},
												"CHANGEPCT24HOUR": {
													"type": "string"
												},
												"CHANGEDAY": {
													"type": "string"
												},
												"CHANGEPCTDAY": {
													"type": "string"
												},
												"CHANGEHOUR": {
													"type": "string"
												},
												"CHANGEPCTHOUR": {
													"type": "string"
												},
												"CONVERSIONTYPE": {
													"type": "string"
												},
												"CONVERSIONSYMBOL": {
													"type": "string"
												},
												"SUPPLY": {
													"type": "string"
												},
												"MKTCAP": {
													"type": "string"
												},
												"MKTCAPPENALTY": {
													"type": "string"
												},
												"CIRCULATINGSUPPLY": {
													"type": "string"
												},
												"CIRCULATINGSUPPLYMKTCAP": {
													"type": "string"
												},
												"TOTALVOLUME24H": {
													"type": "string"
												},
												"TOTALVOLUME24HTO": {
													"type": "string"
												},
												"TOTALTOPTIERVOLUME24H": {
													"type": "string"
												},
												"TOTALTOPTIERVOLUME24HTO": {
													"type": "string"
												},
												"IMAGEURL": {
													"type": "string"
												}
											}
										},
										"EUR": {
											"type": "object",
											"properties": {
												"FROMSYMBOL": {
													"type": "string"
												},
												"TOSYMBOL": {
													"type": "string"
												},
												"MARKET": {
													"type": "string"
												},
												"PRICE": {
													"type": "string"
												},
												"LASTUPDATE": {
													"type": "string"
												},
												"LASTVOLUME": {
													"type": "string"
												},
												"LASTVOLUMETO": {
													"type": "string"
												},
												"LASTTRADEID": {
													"type": "string"
												},
												"VOLUMEDAY": {
													"type": "string"
												},
												"VOLUMEDAYTO": {
													"type": "string"
												},
												"VOLUME24HOUR": {
													"type": "string"
												},
												"VOLUME24HOURTO": {
													"type": "string"
												},
												"OPENDAY": {
													"type": "string"
												},
												"HIGHDAY": {
													"type": "string"
												},
												"LOWDAY": {
													"type": "string"
												},
												"OPEN24HOUR": {
													"type": "string"
												},
												"HIGH24HOUR": {
													"type": "string"
												},
												"LOW24HOUR": {
													"type": "string"
												},
												"LASTMARKET": {
													"type": "string"
												},
												"VOLUMEHOUR": {
													"type": "string"
												},
												"VOLUMEHOURTO": {
													"type": "string"
												},
												"OPENHOUR": {
													"type": "string"
												},
												"HIGHHOUR": {
													"type": "string"
												},
												"LOWHOUR": {
													"type": "string"
												},
												"TOPTIERVOLUME24HOUR": {
													"type": "string"
												},
												"TOPTIERVOLUME24HOURTO": {
													"type": "string"
												},
												"CHANGE24HOUR": {
													"type": "string"
												},
												"CHANGEPCT24HOUR": {
													"type": "string"
												},
												"CHANGEDAY": {
													"type": "string"
												},
												"CHANGEPCTDAY": {
													"type": "string"
												},
												"CHANGEHOUR": {
													"type": "string"
												},
												"CHANGEPCTHOUR": {
													"type": "string"
												},
												"CONVERSIONTYPE": {
													"type": "string"
												},
												"CONVERSIONSYMBOL": {
													"type": "string"
												},
												"SUPPLY": {
													"type": "string"
												},
												"MKTCAP": {
													"type": "string"
												},
												"MKTCAPPENALTY": {
													"type": "string"
												},
												"CIRCULATINGSUPPLY": {
													"type": "string"
												},
												"CIRCULATINGSUPPLYMKTCAP": {
													"type": "string"
												},
												"TOTALVOLUME24H": {
													"type": "string"
												},
												"TOTALVOLUME24HTO": {
													"type": "string"
												},
												"TOTALTOPTIERVOLUME24H": {
													"type": "string"
												},
												"TOTALTOPTIERVOLUME24HTO": {
													"type": "string"
												},
												"IMAGEURL": {
													"type": "string"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/linkedService2')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Omenics')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Omenics_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"Authorization": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/RestService1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"X-API-Key": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/RestServiceCryptoCompare')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestServiceCryptoCompare_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/cryptoworkspace-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('cryptoworkspace-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/cryptoworkspace-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('cryptoworkspace-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/linkedService1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('linkedService1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('linkedService1_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/linkedService2')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('linkedService2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('linkedService2_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Notebook 1')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "eb42f5ed-45e3-4708-8b48-02f687ced14f"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "python"
					},
					"language_info": {
						"name": "python"
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"source": [
							"print(\"hello\")"
						],
						"outputs": [],
						"execution_count": null
					}
				]
			},
			"dependsOn": []
		}
	]
}